/* declare css font */
@font-face{font-family:din-round;font-style:normal;font-weight:500;src:url(//d35aaqx5ub95lt.cloudfront.net/fonts/DINNextRoundedLTPro-Regular.woff) format("woff")}@font-face{font-family:din-round;font-style:normal;font-weight:700;src:url(//d35aaqx5ub95lt.cloudfront.net/fonts/DINNextRoundedLTPro-Bold.woff) format("woff")}
